.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    padding-top: 20px;
}

.button {
    background-color: #efefef;
    color: #000000;
    text-decoration: none;
    width: 100px;
    border: 1px solid #d6d6d6;
    padding: 12px 10px;
}

.button:hover {
    background-color: #393939;
    color: #efefef;
    text-decoration: none;
    width: 100px;
    border: 1px solid #d6d6d6;
    padding: 12px 10px;
}

.button_pressed {
    background-color: #2e7bb6;
    color: #efefef;
    text-decoration: none;
    width: 100px;
    border: 1px solid #d6d6d6;
    padding: 12px 10px;
    font-weight: bold;
}

.symbols_container {
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.symbols_button {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 6px 5px;
}

.symbols_button:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 6px 5px;
    font-weight: bold;
}

.symbols_button_pressed {
    background-color: #393939;
    color: #efefef;
    text-decoration: none;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 6px 5px;
    font-weight: bold;
}