.topnav {
    height: 35px;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
}

.topButton {
    background-color: #efefef;
    color: #000000;
    text-decoration: none;
    height: 25px;
    border: 0;
}

.topButton:hover {
    background-color: #d8d8d8;
    color: #000000;
    text-decoration: none;
    height: 25px;
    border: 0;
}

.topButton:disabled {
    background-color: #efefef;
    color: #00000060;
    text-decoration: none;
    height: 25px;
    border: 0;
}